/node_modules
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
keys.json

.vscode/
.project

laradock
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php


app/Http/Controllers/GCSController.php
/public/sitemap*.xml
